* {
  box-sizing: border-box;
}

body {
  background-color: #c02315;
  min-width: 320px;
}

.results-container{
  background-color: white;
}

.results-container {
  border: 10px solid grey;
  border-top: none;
}


/*
=====================================================================

Header Style

==================================================================
*/

header {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 30px;
  border: 10px solid grey;
}
header p {
  font-size: 20px;
  margin-top: 5px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}





/*
=====================================================================

Form Style #732919

==================================================================
*/
form {
  background-color: #2b1001;
  border: 10px solid grey;
  border-top: none;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 400;

  padding: 10px;
}

label, button[type="submit"] {
  display: inline-block;
  margin-top: 25px;
}

.slider-output {
  font-weight: bold;
}










/*
====================================================================

tab style

=================================================================
*/

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*
===========================================================

Game Display

=============================================================
*/
h3.game-name {
  font-size: 25px;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}

.year-designer {
  font-size: 15px;
  font-style: italic;
  background-color: #ccc;
  margin-top: 0;
  padding-left: 2em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.game-year {
  font-size: 18px;
}

.game-designer {
  margin-left: 1em;
}

.thumb-box {
  float: left;
  width: 150px;
  height: 150px;
}

.game-thumb {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.game-info-box {
  min-width: 280px;
  clear: both;
  border-top: 1px solid #ccc;
}

.Stats li {
  margin-top: 10px;
  margin-bottom: 12px;
}

.stat-type {
  font-weight: bold;
}

@media only screen and (min-width: 680px) {

  .game-info-box, .tab{
    margin-left: 160px;
  }

  .game-info-box {
    clear: none;
  }

}


/*
===========================================

list styles

============================================
*/


body {
   counter-reset: item;
 }
 ol {
   list-style: none;
   padding-left: 5px;
 }
 ol>li {
   counter-increment: item;
   margin-bottom: 5px;
   margin-top: 30px;
 }
 ol>li:before {
    margin-right: 10px;
    content: counter(item);
    background: #c02315;
    border-radius: 50%;
    color: white;
    float: left;
    min-width: 1.2em;
    padding: .2em;
    text-align: center;
    position: relative;
    display: inline-block;
 }






ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
===============================================================

other

===============================================================
*/

button:focus {
  border: 1px solid black;
}

.loading-img {
  display: block;
  margin: 0 auto;
}
